<tr>
  <td>{{name}}</td>
  <td>{{journey.name}}</td>
  <td>{{progress}}</td>
  <td>{{updatedAt}}</td>
  <td><button player="{{id}}" journey="{{journey.id}}" class="action">Load</button> | <button player="{{id}}" class="action">Delete</button></td>
</tr>